.errors-wrapper { width:420px; float:left; margin-left:65px; margin-bottom:5px;}
.errors-wrapper li{  margin-bottom:5px;}
.elements-wrapper { float:left; }
.forms p {width: 100%;}
.form {width:100%;}
.input-submit {font-family: Helvetica, Arial, sans-serif !important; font-size:12px !important;}
.notification-message {font-family: Helvetica, Arial, sans-serif !important;}